/*** Production ***/

div {
	outline: 1px dashed red;
}

/*** GENERAL CSS ***/

body {
	margin:0;
	padding:0;
	width:100%;
	background:black;
	min-width:400px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font: .9em Optima, "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
	color: white;
  background: url("../images/smoke.jpg") scroll left top #919191;
}


#header {
	float:left;
	width:100%;
	padding:0;
	padding-top: 120px;
}

#header h1  {
	float: right;
	padding:.2em 15px;
	margin:0;
  margin-top: -110px;
	font-size: 4em;
	text-shadow: -4px 4px 3px #666, 1px -1px 2px #000;
	color: white;
	font-style: italic;
}
#header h2  {
	float: right;
	padding: 5px 10px 20px 5px;
	margin: 0;
	font-size: 1.2em;
	margin-top: -20px;
}

/*** LIQUID THREE COLUMN LAYOUT ***/

#colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
	background: none;		/* Left column background colour */
}
#colmid {
	float:left;
	width:200%;
	position:relative;
	left:200px;
	background: none;    	/* Centre column background colour */

}
#colright {
	float:left;
	width:100%;
	position:relative;
	left:50%;
	margin-left:-400px;
	background: none;    	/* Right column background colour */
/*	border-left: 2px solid black;*/
	padding-bottom: 10px;
}
#col1wrap {
	float:right;
	width:50%;
	position:relative;
	right:100%;
}

#col1pad {
	margin:0 15px 0 415px;
	overflow:hidden;
}

#content {
	width:100%;
	overflow:hidden;
	text-align: center;
}

#col2 {
    float: left;
    left: 215px;
    margin-left: -50%;
    overflow: hidden;
    position: relative;
    width: 170px;
}
#col3 {
    float: left;
    left: 15px;
    overflow: hidden;
    position: relative;
    width: 170px;
}


#content h1 {
	font: 3em Optima, Arial, serif;
}
/*** Footer ****/

#footer  {
	font-size: .8em;
	margin: 0;
	padding: 10px 0 0 5px;/*
		border-top: 2px solid white;*/
}

/*****NAV BAR ******/

#mainNav {
	background: none;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 12em;
	padding-bottom: 200px;
}
#mainNav li {
	font: 1em "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#mainNav a {
	background: #0A0A0A;
	border-bottom: 1px solid #393939;
	color: #ccc;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}
#mainNav a:hover {
	background: #0082B5 url("/../images/hover.gif") left center no-repeat;
	color: #fff;
	padding-bottom: 8px;
	font-style: italic;
}

/*Transparent*/

.transbox
  {
  margin:30px 50px;
  background-color:#ffffff;
  border:1px solid black;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
  }

.transbox p
  {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
  }