<h1>Welcome</h1>
<p>You have arrived at my personal web space.  It is currently in the development process</p>

<%= link_to image_tag("construction.jpg", :alt => "Construction", :size => "100x200", :class => "transparent" ), root_path %>
