<ul class="group" id="example-one">
  <li class="current_page_item">
  	<a href="#">Home</a>
  </li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Resume</a></li>
</ul>